<!DOCTYPE html>
<html>
  <head>
    <title>{{ PAGE_TITLE }} - {{ PORTAL_NAME }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="template/dependencies/bootstrap/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">{{ PORTAL_NAME }}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          ></button>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <h1 class="text-center">{{ PAGE_TITLE }}</h1>
      </div>
    </main>
    <footer>
      <div class="container">
        <p class="text-center">{{ PORTAL_NAME }} - {{ PORTAL_VERSION }}</p>
      </div>
      <script src="template/dependencies/jquery/jquery-3.5.1.min.js"></script>
      <script src="template/dependencies/bootstrap/js/bootstrap.min.js"></script>
    </footer>
  </body>
</html>
